{% extends "layout.html" %}
{% set active_page = "index" %}
{% block body %}

<div class="row">
<form class="navbar-form" role="search">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="p" value="{{ p }}">

        {% for n,v in hidden_fields.iteritems() %}
        <input type="hidden" value="{{v}}" name="{{n}}">
        {% endfor %}

        {% for n,v in facet_filters %}
        <input type="hidden" value="{{n}}:{{v}}" name="facet_filter">
        {% endfor %}

        <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
</form>
</div>

<div class="row">
    <div class="col-md-3">
          {%- set args = request.args.copy() -%}
          {%- do args.setdefault("rg", 10) -%}
          {%- do args.setdefault("jrec", 0) -%}
          {%- set n = args.get("rg")|int + args.get("jrec")|int -%}
        <h2>{{ n }} / {{ results.total }} results</h2>
    </div>

    <div class="col-md-5">
        <ul class="pagination">
          {%- set args = request.args.copy() -%}
          {%- do args.setdefault("rg", 10) -%}
          {%- do args.setdefault("jrec", 0) -%}
          {%- set rg = args.get("rg", 10)|int -%}
          {%- set jrec = args.get("jrec", 0)|int -%}
		  {%- if (jrec - rg) >= 0 -%}
          {%- set jrec = jrec - 10 -%}
		  {%- if jrec < 0 -%}
		  {%- set jrec = 0 -%}
          {%- endif -%}
          {%- do args.pop("jrec") -%}
          {%- do args.update({"jrec": jrec|string()}) -%}
          <li class="previous"><a title="previous" href="{{ url_for('search', **args)}}">&lang;</a></li>
          {%- else -%}
          <li class="previous disabled"><a title="previous" href="#">&lang;</a></li>
          {%- endif -%}
          {%- set args = request.args.copy() -%}
          {%- do args.setdefault("rg", 10) -%}
          {%- do args.setdefault("jrec", 0) -%}
          {%- set rg = args.get("rg", 10)|int -%}
          {%- set jrec = args.get("jrec", 0)|int -%}
          {%- if (jrec + rg) <= results.total -%}
          {%- set jrec = jrec + 10 -%}
          {%- do args.pop("jrec") -%}
          {%- do args.update({"jrec": jrec|string()}) -%}
          <li class="next"><a title="next" href="{{ url_for('search', **args)}}">&rang;</a></li>
          {%- else -%}
          <li class="next disabled"><a href="#" title="next">&rang;</a></li>
          {%- endif -%}
    </ul>
    
    </div>
    <div class="col-md-4">
<!-- Split button -->
<div class="btn-group pull-right" style="margin:20px 0;">
  <button type="button" class="btn btn-default">Sort</button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    {%- set args = request.args.copy() -%}
    {%- do args.setdefault("sf", "") -%}
	{%- if  args.get("sf", "") == "sort_title" -%}
	{%- do args.pop("sf") -%}
    {%- do args.update({"sf": ""}) -%}
    {%- do args.update({"so": "d"}) -%}
    <li><a href="{{ url_for('search', **args)}}">Relevance</a></li>
    {%- else -%}
	{%- do args.pop("sf") -%}
    {%- do args.update({"sf": "sort_title"}) -%}
    {%- do args.update({"so": "a"}) -%}
    <li><a href="{{ url_for('search', **args)}}">Title</a></li>
    {%- endif -%}
  </ul>
</div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
    
    {% for facet, buckets in results.facets.iteritems() %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ translate_facet_title(facet) }}</div>
        <div class="panel-body">
            <ul class="list-unstyled">
                {% for bucket in buckets.buckets %}
                {%- set args = request.args.copy() -%}
                {%- do args.setdefault("rg", 10) -%}
                {%- do args.setdefault("jrec", 0) -%}
                {%- do args.pop("jrec") -%}
                {%- do args.pop("rg") -%}
                {%- do args.update({'facet_filter': facet + ":" + bucket.key}) -%}
                <li><a href="{{ url_for('search', **args)}}">{{translate_facet_term(facet, bucket.key)}}</a> <span>({{ bucket.doc_count }})</span></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endfor %}

</div>

    <div class="col-md-9">
        <ul class="list-group">
            {% for record in results.hits %}
            <li class="list-group-item record-hb">
			<h3>{{record["title.title"][0] | safe if record["title.title"]}}{{": " + record["title.subtitle"][0] | safe if record["title.subtitle"] }}</h3>
                <h4>{{ record["authors.first_author"][0] if record["authors.first_author"] }} {{"; " + record["authors.other_authors"] | join("; ") if record["authors.other_authors"] }}</h4>
				{% if record.abstract %}
				{% set abstract=record.abstract[0].split() %}
				{% set abstract_size=40 %}
				<hr />
				<h5>Abstract</h5>
                <p>
				{% if abstract.count > abstract_size  %}
                {{abstract[0:abstract_size] | join(" ") | safe}}
				<span class="truncated">{{abstract[abstract_size:] | join(" ") | safe}}</span>
				{% else %}
				{{abstract | join(" ") | safe}}
				{% endif %}
                </p>
				<div class="row">
					<div class="col-md-10"></div>
				<div class="col-md-2 pull-right">
				  <a href="http://doc.rero.ch/record/{{ record['recid'][0] }}"><span class="glyphicon glyphicon-new-window"></span></a>
				  <a href="{{ url_for(".get_record", recid=record['recid'][0]) }}"><span class="glyphicon glyphicon-info-sign"></span></a>
			    </div>
			    </div>
				{% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
